body {
   	background-color: #000000;
	font-family: "Verdana", Sans-serif;
	font-size: 10px;
	color: white;
}

#kodi {
	width: 800px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	}
	
hr {
	color: #12B2E7;
	border: dashed 1px;	
}

h3 {
	font-size: 16px;
}

h1 {
	font-size: 12px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #12B2E7;
}

table {
	width: 100%;
	#background-color: white;
}

thead {
	background-color: #12B2E7;
}

#navi td {
	padding: 5px;
}

#navi a:hover {
	color: #000000;
}

#pagination td {
	background-color: #606060;
	text-align: center;
	padding: 5px;
}

#pagination_pages td {
	background-color: #909090;
	text-align: center;
	padding: 5px;
}

#content td {
	padding: 5px;
	text-align: center;
}

#content thead td {
	padding: 5px;
}

#movie td {
	padding: 5px;
	text-align: left;
}

#codec td {
	background-color: #12B2E7;
	padding: 2px;
	text-align: center;
	width: 60px;
}
	
